body {
	margin:0;
	padding:0;
}

.main_menu {
	display:flex;
	flex-direction:column;
	align-items: center;
	justify-content:center;
	gap:100px;
	height:90vh;
}

ul {
	list-style:none;
}

li {
	padding:8px;
}

.game {
	display:flex;
	flex-direction:column;
	align-items: center;
	justify-content:start;
	gap:100px;
	height:90vh;
}

.game__score{
	margin-top:50px;
}

.score{
	font-size:32px;
}

.game__choice{
	margin-top: auto;
}

.game__action_zone{
	display:flex;
	justify-content:space-around;
	width:100vw;
}

.game__action {
}

.hidden{
	display:none;
}
